In [90]:
import pandas as pd
import math
import numpy as np

In [91]:
achievement_df = pd.read_csv('/Users/levimunster/Desktop/VS_Code/MiddleburyCS/stat0350/achievement_data/achievement_data.csv')

In [92]:
achievement_df

,game,achievement_1,achievement_2,achievement_3,achievement_4,achievement_5,achievement_6,achievement_7,achievement_8,achievement_9,...,achievement_473,achievement_474,achievement_475,achievement_476,achievement_477,achievement_478,achievement_479,achievement_480,achievement_481,achievement_482
0,happyroom_550010,94.6,94.4,93.8,40.4,28.0,24.3,21.3,21.3,19.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,spongebobsquarepantsthecosmicshake_1282150,85.4,70.8,65.9,61.2,58.9,57.3,53.7,52.3,44.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,blitzkrieg3_235380,37.3,34.7,26.3,25.9,23.7,23.3,22.0,20.5,15.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,theescapists_298630,22.9,18.0,11.1,10.4,10.1,9.2,6.6,5.3,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,trainsimworld3_1944790,91.5,85.4,79.3,73.1,67.3,65.3,57.2,43.9,33.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,mirrorsedgecatalyst_1233570,68.4,53.0,51.8,42.3,38.9,31.8,31.7,25.3,23.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,residentevil2_883710,94.4,85.6,84.5,82.3,82.3,81.9,79.4,77.9,72.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,starwarsjedisurvivor_1774580,83.5,82.4,74.8,71.2,68.2,64.9,63.9,63.8,60.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,planetcoaster_493340,97.8,45.3,38.0,37.6,36.8,34.3,33.9,33.4,32.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,houseflipper_613100,93.4,35.2,34.7,31.0,26.6,26.4,26.1,25.0,21.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
# output_df = pd.DataFrame(columns=['game', 'early_percentage', 'mid_percentage', 'late_percentage', 'num_achievements'])
# for row in achievement_df.itertuples(index=True):
#     for i in range(1,483):
#         if pd.isna(eval(f'row.achievement_{i}')):
#             num_achievements = i-1
#             break
#         else:
#             num_achievements = 482

#     if num_achievements < 4:
#         continue
#     early = math.floor(num_achievements/3)
#     mid = math.floor(2*num_achievements/3)

#     early_sum = 0
#     for i in range(1,early):
#        early_sum += eval(f'row.achievement_{i}')
#     mid_sum = 0
#     for i in range(early+1,mid):
#        mid_sum += eval(f'row.achievement_{i}')
#     late_sum = 0
#     for i in range(mid+1,num_achievements):
#         late_sum += eval(f'row.achievement_{i}')
    
#     early_percentage = early_sum / (len(range(1,early))+1)
#     mid_percentage = mid_sum / (len(range(early+1,mid))+1)
#     late_percentage = late_sum / (len(range(mid+1,num_achievements))+1)
#     row_out = [row.game, early_percentage, mid_percentage, late_percentage, num_achievements]
#     output_df.loc[len(output_df)] = row_out

In [94]:
rows = []
achievement_cols = [c for c in achievement_df.columns if c.startswith("achievement_")]

for row in achievement_df.itertuples(index=False):
    values = np.array([getattr(row, c) for c in achievement_cols], dtype=float)
    values = values[~np.isnan(values)]

    num_achievements = len(values)
    if num_achievements < 4:
        continue

    early_end = num_achievements // 3
    mid_end = 2 * num_achievements // 3

    early_avg = values[:early_end].mean()
    mid_avg   = values[early_end:mid_end].mean()
    late_avg  = values[mid_end:].mean()

    rows.append({
        "game": row.game,
        "early_percentage": early_avg,
        "mid_percentage": mid_avg,
        "late_percentage": late_avg,
        "num_achievements": num_achievements
    })

output_df = pd.DataFrame(rows)

In [96]:
output_df.to_csv('/Users/levimunster/Desktop/VS_Code/MiddleburyCS/stat0350/achievement_data/clean_achievement_data.csv', index=False)